<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1">
<test name="SmokeTest">
    <classes>
        <class name="com.telran.trello.tests.TrelloLoginHw"/>
        <class name="com.telran.trello.tests.BoardCreationTests"/>
        <class name="com.telran.trello.tests.BoardDeletionTests"/>
        <class name="com.telran.trello.tests.TeamCreationTests"/>
    </classes>
</test>
</suite>